body{
    font-family: Poppins;
    background-color: white;
}

.header{
    padding: 10px;
}
.grettings{
    text-align: center;
}

.content{
    display: grid;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}
.porto1{
    background-color: beige;
    border-radius: 12px;
    width: 300px;
    height: auto;
    text-align:justify ;
    margin: auto;
    padding: 10px;
}

.logo{
    width: 240px;
    height: auto;
    padding: 15px 30px
}

.porto2{
    background-color: beige;
    border-radius: 12px;
    width: 320px;
    height: auto;
    margin: auto;
    text-align: justify;
    padding: 10px;
}

.pic{
    width: 275px;
    height: auto;
    padding: 15px 22px;
}

.desc{
    margin: auto;
    padding-bottom: 30px;
}

.desc2{
    margin: auto;
    padding-bottom: 10px;
}

.button{
    background-color: rgb(255, 255, 227);
    border-radius: 12px;
    border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px;
}

.button:hover{
    background-color: white;
    cursor: pointer;
}

.link{
    font-family: Poppins;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: larger;
}