body{
    font-family: Poppins;
    background-color: white;
    margin: auto;
}

.navbar{
    text-align: left;   
    padding: 5px;
    font-size: 30px;
    background-color:black ;
}

.nav{
    text-decoration: none;
    padding: 10px;
    color: white;
}

.nav:hover{
    background-color: white;
    color: black;
}

.upper{
    padding-top:30px;
    text-align: center;
}


.content{
    display: grid;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.porto1{
    background-color: beige;
    border-radius: 12px;
    width: 300px;
    height: 470px;
    text-align:justify ;
    margin: auto;
    padding: 10px;
}

.logo{
    width: 240px;
    height: auto;
    padding: 15px 30px
}

.desc{
    margin: auto;
    padding-bottom: 56px;
}
.porto2{
    background-color: beige;
    border-radius: 12px;
    width: 300px;
    height: 470px;
    margin: auto;
    text-align: justify;
    padding: 10px;
}

.pic{
    width: 270px;
    height: auto;
    padding: 10px 15px 22px ;
}

.desc2{
    margin: auto;
    padding-bottom: 13px;
}

.porto3{
    background-color: beige;
    border-radius: 12px;
    width: 300px;
    height: 470px;
    margin: auto;
    text-align: justify;
    padding: 10px;
}

.button{
    background-color: rgb(255, 255, 227);
    border-radius: 12px;
    border: 2px solid black;
    width: auto;
    height: auto;
    padding: 10px;
}

.button:hover{
    background-color: white;
    cursor: pointer;
}

.link{
    font-family: Poppins;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: larger;
}

.pic3{
    width: 280px;
    height: auto;
    padding: 10px 10px 50px;
}

.desc3{
    margin: auto;
    padding-bottom: 66px;
}